.wrapper {
	margin-top: 1rem;
	margin-bottom: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
}
.deleteButton {
	width: 30%;
	height: 60px;
	margin: auto;
	cursor: pointer;
}
.deleteButton:hover {
	background-color: brown;
}
