.message {
	padding: 10px;
	margin-bottom: 15px;
	border-radius: 5px;
	font-size: 14px;
}

.success {
	background-color: #dff0d8;
	border: 1px solid #3c763d;
	color: #3c763d;
}

.error {
	background-color: #f2dede;
	border: 1px solid #a94442;
	color: #a94442;
}
